{% extends 'base.html.twig' %}
{% block body %}
    <link rel="stylesheet" href={{asset('build/css/stylehome.css')}}>
    <div class="container">
        <div class="row no-gutters ">
            <div class="col-2">
             <div class="row no-gutters ">
                <div class="col-8">
                    <div class="acceuil">
                         
                            <h4>title</h4>
                         
                                        
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>

        {% endblock %}
    