{% extends 'base.html.twig' %}
{% block body %}
    <link rel="stylesheet" href="{{asset('build/css/perso/stylehome.css')}}">
             
        
    <div class="content">
        <span class="GreatVibes"> <h1>{{'TITLE_HOME'| trans | raw}}</h1> </span>
         
                  
        <p>
            {{'TEXT_HOME_1'| trans | raw}}
        </p>
        <span class="special"> <hr> </span>
        <p> 
            {{'TEXT_HOME_2'| trans | raw}}
        </p>
    </div>
{% endblock %}
    