{% extends 'base.html.twig' %}
{% block body %}
    <link rel="stylesheet" href={{asset('build/css/stylehome.css')}}>
        <br>
            <div class="acceuil">
                <div class="disney">
                    <h1>Le blog Super Courgette</h1>
                </div>
            </div>
        {% endblock %}
    