{% extends 'base.html.twig' %}
{% block body %}
    <link rel="stylesheet" href="{{asset('build/css/perso/stylehome.css')}}">
             
        
            <div class="content">
            <span class="GreatVibes"> <h1>Mon Title</h1> </span>
         
                  
                          <p>
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, ad quibusdam soluta eveniet iste quo rem amet itaque impedit? Quas sit laboriosam atque aperiam rem? Maiores omnis sint beatae amet!</p><span class="special">
                              avant<hr></span>
                             <p> <span>Ipsum cumque doloribus porro, dolorem magni iure quasi quaerat quam dolore assumenda veniam animi qui fuga molestias asperiores eum facere alias nulla. Hic similique aperiam vero vel. Ipsum, odio fugiat!</span>
                              <span>Alias error deleniti magnam sequi commodi possimus. </span>
                              
                             </p>
                          

                          </div>
                              
            
            
        
                 
        
   
    
       
    
        
  
        {% endblock %}
    