{% extends 'base.html.twig' %}
{% block body %}
<head>
    <link rel="stylesheet" href="{{asset('build/css/perso/app.meteo.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css"/>

    </head><body>
    <div class="content">
        <div class="row ">
            <div class="col-6">
<section id="first">
   
    <h3>  <span id="ville">Marseille</span>    </h3>
   <br>
    <i class="wi wi-day-snow "></i>
   
    <h2>
        <span id="temperature"> &nbsp;25</span> c° ( <span id="conditions">Ciel degagé</span> )
    </h2>
  
       
         
</div></div>

</section><div class="col-6">
<section id="second">
      
      <div class="form-group"><label for="form_image" class="required"><span style="color:rgb(177, 70, 70)">other town</span></label><input type="text" id="newcity" name="form[title]" required="required" maxlength="255" placeholder="Titre de l&#039;article" class="form-control" />
        <button  type="submit" id="#submitWeather" class="btn btn-success"/> 
                Envoyer
                </button>
                <p id="ici"></p></div>
                             
            
</section>
</div>
        </div>
       </body>
        {% endblock %}