<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
            <title>
                {% block title %}Welcome!{% endblock %}
            </title>
            <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
                {% block stylesheets %}{% endblock %}
            </head>
            <body>
                <div class="container">
                    <hr>
                        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                            <a class="navbar-brand" href="{{path('home')}}">Mon blog</a>
                            <button aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarColor02" data-toggle="collapse" type="button">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarColor02">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="{{path('article')}}">article
                                            <span class="sr-only">(current)</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{path('news')}}">new</a>
                                    </li>
                                </ul>
                                <img alt="" height="145px" left="200px" src="/build/img/aubergine.png" width="160px"></div>
                            </nav>
                        </div>
                    </body>
                    {% block body %}{% endblock %}
                    {% block javascripts %}{% endblock %}
                </html>
            